html, body {
	/*background-color: black;
	color: white;*/
	font-family: noto sans, sans-serif;
	font-size: 16px;
	padding: 0px;
	margin: 0px;
	background-color: #000020;
	color: white;
}

div.container {
	margin: 0 auto;
	text-align: left;
}

a {
    color: #00ccff;
	text-decoration: none;
}

@media only screen and (min-width: 800px) {
	body {
		font-size: 11.5pt;
	}
	
	div.center {
		text-align: center;
		width: 100%;		
	}

	div.container {
		width: 100%;
	}

	img.optimized {
		width: 600px;
	}

	img.optimized-500 {
		width: 500px;
	}	
}

table, th, td {
	border-collapse: collapse;
	border: 0px;
	/*ont-family: monospace;*/
	margin-bottom: 10px;
}

th, td {
	padding: 3px 3px 3px 3px;
}

td {
	font-size: 10pt;	
}

th {
	background-color: #cccccc;
	text-align: center;
	font-size: 9pt;
}

table.apitable td.a {
	background-color: #dddddd;
	border: 0px;
}

table.apitable td.b {
	padding-left: 30px;
	border: 0px;
	font-family: verdana, sans-serif;
	padding-bottom: 15px;
}

table.apitable {
	border: 0px;
}

form {
  width: 100%;
}
label {
  display: inline-block;
  width: 110;
}
input {
  display: inline-block;
}

span.mono {
	font-family: monospace;
	font-size: 10.5pt;
	border: 1px solid #cfcfcf;
	padding: 1px;
}

p.mono {
    font-family: monospace;
    font-size: 10.5pt;
    margin-left: 5px;
}

p {
	margin: 5px;
}
